.App {

  min-height: 100vh;
}
.dark-mode{
  left:10px;
  display: block;
  top:10px;
  position: relative;
  
}
.switch {
  position: relative;
  display: inline-block;
  
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.calculator-board{
  width:40vw;
  height: 65vh;
  background-color: #e1ebf9;
  left:32vw;
  top:15vh;
  position: relative;
  display: block;
}
.screen{

  position: relative;
  width:99%;
  height: 30%;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color:rgb(205, 215, 243);
  
 
}
.top-layer{
  top:10%;
  left:6%;
  position: relative;
  width:90%;
  height: 70%;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: white;
  text-align: center;
  overflow: hidden;
  font-size: larger;
}
.screen.top-layer.result{
  font-size:larger;
}
.keyboard{
  display: grid;
  gap: 15px 20px;
  width:90%;
  height: 65%;
  margin: 3%;
  grid-template-columns: repeat(4,auto);

}
.keyboard button{
  text-align: center;
  background-color: #e1ebf9;
  color: black;
  border-style: none;
  box-shadow:-2px -1px white;
  border-radius: 8px ;
  font-size: 16px;
  -webkit-border-radius: 8px ;
  -moz-border-radius: 8px ;
  -ms-border-radius: 8px ;
  -o-border-radius: 8px ;
}
